/* Reset all white-space to 0 for consistency across browsers */
* { margin:0px; padding:0px; } 

/* Default to some sans-serif font at a specific size */
body { font-family: Verdana, Arial, sans-serif; font-size:12px; margin: 1.5em;}

#content { padding:15px; }

span { display: inline-block; }


label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }

fieldset { padding:0; border:0; margin-top:25px; }

div#logout {
	position:absolute;
	top:0;
	right:0;
	padding:5px 25px;
	width:200px;
}

div .main_container{
    width: 1060px;
	margin: 0 auto;
}

div .left_column{
	float:left;
	width:400px;
	margin-left: -1060px;
}
 
div .content_wrapper{
 float: left;
 width: 100%;
}
  
div .content_column{
  margin-left: 400px; /*Set left margin to LeftColumnWidth*/
  }
   
div .table_head{
	color:#FFFFFF;
	background-color:#1c94c4;
	font-weight:bold;
	font-size:14px;
}

div .innertube{
	margin: 10px;
	margin-top: 0;
}

div .row {border-bottom: white 1px solid;}
div .row .cell {padding: 6px;}
div .row .description{ width:340px; }
div .row .category{ width:160px; }
div .row .progress{ width:160px; }
div .row .due_date{ width:160px; }
div .row .progress-bar-cell{ width:160px; height:14px; }
div .row .progress-slider-cell{ width:160px; padding:7px 0 0 0;}
div .row .delete{ width:30px; }

div#categories .row .cell{ padding:6px; }
div#categories .row .name{ width:260px; }
div#categories .row .color{ width:260px; }

div#friends .row .cell{ padding:6px; }
div#friends .row.even{ background-color:rgb(210,241,255); }
div#friends .row.odd{ background-color:rgb(170,221,255); }
div#friends .row .name{ width:260px; }
div#friends .row .action{ width:260px; }

/* Form Styles */
.horizontal_form .item { margin:10px 4px; }
.horizontal_form .item .label {
   width:150px;
   text-align:right;
   float:left;
   font-weight:bold;
   padding-right:10px;
   vertical-align:baseline;
   padding-top:3px;
   color:#1c94c4;
 }
.horizontal_form .item input {
  border:1px solid #999999;
  padding:2px 2px;
  color:#666666;
  width:157px; /* Fix firefox/chrome diff behavior */
}
.horizontal_form .item .description {
   clear:both;
   padding-left: 160px;
   font-size:11px;
   color:#aaaaaa;
   font-style:italic;
}
.horizontal_form .item input:focus {
  background-color:#eeeeee;
}
.header {
  margin:15px 0px 10px 0px;
  padding-left:0px;
  font-size:16px;
  border-bottom:1px solid #CCCCCC;
  font-weight:bold;
  color: #e79425;
}
.horizontal_form .button { margin-left:200px; padding-top:10px; }
.horizontal_form .button input { padding:4px 10px; }

/* Color Picker - I see life in colors - Viva los mushrooms*/
#red, #green, #blue {
	float: left;
	clear: left;
	width: 300px;
	margin: 15px;
}
#swatch {
	width: 120px;
	height: 100px;
	margin-top: 18px;
	margin-left: 350px;
	background-image: none;
}
#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }

