{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Challenge List Creator</title>
		<link type="text/css" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.8.9.custom.css" rel="stylesheet" />	
		<link type="text/css" href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" />	
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.9.custom.min.js"></script>
		<script type="text/javascript">
		$('html').ajaxSend(function(event, xhr, settings) {
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) == (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				// Only send the token to relative URLs i.e. locally.
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			}
		});
		</script>
</head>
<body>
<h1><img src="/media/images/logododo.png" style="float:left;"/>Challenge<br/ >List<br />Creator</h1>
<div id="logout">
{% if logged_in %}
<a class="logout-button" href="/logout">{% trans "Log out" %}</a>
{% endif %}
</div>
<div id="content">
{% block content %}{% endblock content %}
<br /><br /><br /><br />
{% trans 'For questions, suggestions or issues to fix, please contact <a href="mailto:support@intuitivo.fr">support@intuitivo.fr</a>' %}
</div>
</body>
</html>
