{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% trans "Create a bucket list" %}</title>
		<link type="text/css" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.8.9.custom.css" rel="stylesheet" />	
		<link type="text/css" href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" />	
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.9.custom.min.js"></script>
		<script type="text/javascript">
		$('html').ajaxSend(function(event, xhr, settings) {
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) == (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				// Only send the token to relative URLs i.e. locally.
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			}
		});
		</script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-3636359-3']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
</head>
<body>
<a href="/" style="text-decoration:none;"><img src="/media/images/logo.png" style="border:0px;" alt="bucket list creator"/></a>
<div id="logout" align="right">
	{% if logged_in %}
		{% if not mine %}
			<a class="back-button" href="/{{ request.user }}">{% trans "Back to my list" %}</a><span width="16px">&nbsp;</span>
		{% endif %}
	<a class="logout-button" href="/logout?next={{ request.path }}">{% trans "Log out" %}</a>
	{% else %}
	<a class="login-button" href="">{% trans "Log in" %}</a>
	<!--<br /><br />
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '383681641687305', // App ID
            channelUrl : '//www.challengelistcreator.com/media/channel-{% trans "en_US" %}.html', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
          });
        };
        // Load the SDK Asynchronously
        (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/{% trans "en_US" %}/all.js";
           ref.parentNode.insertBefore(js, ref);
         }(document));
      </script>

      <div class="fb-login-button" scope="email, publish_actions" style="align:left;">
        {% trans "Login with Facebook" %}
      </div>
	  -->
	{% endif %}
</div>
<div id="content">
{% block content %}{% endblock content %}
</div>
<p style="clear:both;">
<br /><br />
<br /><br />
<br /><br />
<center><a href="" id="ideabox">{% trans "Idea box and problem report" %}</a> - <a href="http://www.intuitivo.fr">Web developer</a></center></p>
<div id="login-form" title="{% trans "Log in" %}">
	<p class="validateTips">{% trans "Enter your email and password to log in and edit your list." %}</p>

    <form action="/?next={% firstof request.GET.next request.path %}" method="post">{% csrf_token %}
     <div class="horizontal_form">
      <div class="header">{% trans "Log in" %}</div>
      {% for field in login_form.visible_fields %}
       <div class="item">
        <div class="label">{{ field.label_tag }}</div>
        <div class="data">{{ field }}</div>
        {% if field.errors %}
         <div class="ui-widget" style="float:left;padding: .3em">
          <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;"> 
           <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>{{ field.errors|join:", " }}</p>
          </div>
         </div>
        {% endif %}
        <div class="description">{{ field.help_text }}</div>
       </div>
      {% endfor %}
     </div>
     {% for hidden in login_form.hidden_fields %}
      {{ hidden }}
     {% endfor %}
     <center><a href="" class="send-password">{% trans "Forgot your password?" %}</a></center>
     <br />
     <input type="submit" value="{% trans "Log me in"%}" style="left:160px;" />
    </form>
	<p><br /><center><a class="button" href="/?next={% firstof request.GET.next request.path %}">Click here to create a free account</a></p>
</div>
<div id="dialog-form" title="{% trans "Send a message" %}">
	<p class="validateTips">{% trans "Email field is required if you want an answer." %}</p>

	<form>
	<fieldset>
		<label for="ideabox-email">{% trans "Email" %}</label>
		<input type="text" name="ideabox-email" id="ideabox-email" value="" class="text ui-widget-content ui-corner-all" />
		<label for="message">{% trans "Message" %}</label>
		<textarea cols="50" rows="7" name="ideabox-message" id="ideabox-message" value="" class="text ui-widget-content ui-corner-all"></textarea>
	</fieldset>
	</form>
</div>
<div id="send-password-form" title="{% trans "Reset your password"%}">
  <p class="validateTips">{% trans "Please enter your email address so we can send you instructions to reset your password." %}</p>
  <form>
  <fieldset>
   <label for="ideabox-email">{% trans "Email" %}</label>
   <input type="text" name="email" id="send-password-email" value="" class="text ui-widget-content ui-corner-all" />
  </fieldset>
 </form>
</div>
<script type="text/javascript">
	$(function(){ 
		$( "#send-password-form" ).dialog({
			autoOpen: false,
			height: 240,
			width: 350,
			modal: true,
			buttons: [
				{
					text: "{% trans "Send me an email" %}",
					click: function() {
						$( this ).dialog( "close" );
						$.post(
							"/send_password", 
							{"email": $("#send-password-email").val(),} 
						);
					}
				},
				{
					text: "{% trans "Cancel" %}",
					click: function() {
						$( this ).dialog( "close" );
					}
				}
			]
		});
		$(".send-password").click(function(){
			$( "#send-password-form" ).dialog( "open" );
			return false;
		});
	});
$(function(){ 
	$( "#dialog-form" ).dialog({
		autoOpen: false,
		height: 380,
		width: 350,
		modal: true,
		buttons: [
			{
				text: "{% trans "Send a message" %}",
				click: function() {
					$( this ).dialog( "close" );
					$.post(
						"/send", 
						{"email": $("#ideabox-email").val(), "message": $("#ideabox-message").val()} 
					);
				}
			},
			{
				text: "{% trans "Cancel" %}",
				click: function() {
					$( this ).dialog( "close" );
				}
			}
		]
	});
	$(".button").button();
	$("#ideabox").click(function(){
		$( "#dialog-form" ).dialog( "open" );
		return false;
	});
    $(".logout-button").button({
        icons: {
            primary: "ui-icon-power",
        }
    });
	$( "#login-form" ).dialog({
		autoOpen: {% if login_form.errors %}true{% else %}false{% endif %},
		height: 380,
		width: 450,
		modal: true,
	});
    $(".login-button").button({
        icons: {
            primary: "ui-icon-person",
        }
    }).click(function(){
		$( "#login-form" ).dialog( "open" );
		return false;
	});

	$( "input:submit" ).button();
	$(".logme-button").button({
		icons: {
			primary: "ui-icon-lightbulb"
		}
	});
    $(".back-button").button({
        icons: {
            primary: "ui-icon-arrowthick-1-w",
            secondary: "ui-icon-script"
        }
    });
  });
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3636359-3']);
  _gaq.push(['_trackPageview']);

  (function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
