{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% if logged_in and not mine %}
    <a class="back-button" href="{{ request.user.challenge_list.name }}">{% trans "Back to my list" %}</a>
    {% if not friend %}
        <button class="add-friend-button">{% trans "Add to my friends" %}</button>
    {% endif %}
{% endif %}
<div class="header">{{ header }}</div>
<div id="challenges">
{% for ci in challenge_instances %}
	{% if forloop.first %}
		<div class="row table_head">
			<span class="cell description">{% trans "Description" %}</span>
			<span class="cell category">{% trans "Category" %}</span>
			<span class="cell progress">{% trans "Progress" %}</span>
			<span class="cell due_date">{% trans "Due date" %}</span>
		</div>
	{% endif %}
	{% with ci.challenge as c %}
		<div class="row" id="challenge-row-{{ ci.id }}" style="background-color:rgb({{c.category.red}},{{c.category.green}},{{c.category.blue}});">
			<span class="cell description">{{ c.description }}</span>
			<span class="cell category">{{ c.category.name }}</span>
			{% if mine %}
				<span class="cell progress-slider-cell">
					<div id="progress-{{ ci.id }}" class="progress-slider" value="{{ ci.progress }}"></div>
				</span>
			{% else %}
				<span class="cell progress-bar-cell">
					<div id="progress-{{ ci.id }}" class="progress-bar" value="{{ ci.progress }}"></div>
				</span>
			{% endif %}
			<span class="cell due_date">
			<input type=text id="duedate-{{ ci.id }}" {% if mine %}class="date"{% endif %} style="background-color:rgb({{c.category.red}},{{c.category.green}},{{c.category.blue}});background:url('/media/images/icon_calendar.gif') no-repeat right center;border:0;" value="{{ ci.due_date|default_if_none:""|date:"Y-m-d" }}" />
			</span>
			<span class="cell action">
				{% if mine %}<button class="delete-challenge-button" id="delete-{{ ci.id }}">{% trans "Delete" %}</button>
				{% else %}{% if logged_in %}<button class="grab-button" id="grab-{{ ci.id }}">{% trans "Accept this challenge" %}</button>
				{% else %}<button class="logme-button" id="logme-{{ ci.id }}">{% trans "Add this to YOUR list" %}</button>{% endif %}{% endif %}
			</span>
		</div>
	{% endwith %}
{% empty %}
	{% trans "You can now create your first challenge. Enter a description in the box using your own words, then select a category and click on Add a new challenge." %}
{% endfor %}
</div>
<br /><br />
<script src="http://connect.facebook.net/{% trans "en_US" %}/all.js#xfbml=1"></script><fb:like href="" show_faces="true" width="450" font=""></fb:like>
<br /><br />
<br /><br />
{% if mine %}
	<div class="header">{% trans "Add a new challenge" %}</div>
	<form id="add-challenge-form" action="/add" method="post">{% csrf_token %}
	<table>
	<tr>
	{% for field in challenge_form.visible_fields %}
		<th>{{ field.label_tag }}</th>
	{% endfor %}
		<th></th>
	</tr>
	<tr>
	{% for field in challenge_form.visible_fields %}
		<td>{{ field }}</td>
	{% endfor %}
		<td><input type="submit" value="{% trans "Add" %}" id="add-challenge"/></td>
	</tr>
	</table>
	{% for hidden in challenge_form.hidden_fields %}
	{{ hidden }}
	{% endfor %}
	</form>
	<br /><br />

	{% if friends %}
		<div class="header">{% trans "Your friends" %}</div>
		<div id="friends">
		{% for f in friends %}
			{% if forloop.first %}
				<div class="row table_head">
					<span class="cell name">{% trans "Name" %}</span>
					<span class="cell color">{% trans "Action" %}</span>
				</div>
			{% endif %}
			<div class="row {% cycle "even" "odd" %}" id="friend-row-{{ f.id }}">
				<span class="cell name"><a href="/{{ f.name }}">{{ f.name }}</a></span>
				<span class="cell action">
					<button class="delete-friend-button" id="delete-friend-{{ f.id }}">{% trans "Delete" %}</button>
				</span>
			</div>
		{% endfor %}
		</div>
		<br /><br />
	{% endif %}
{% else %}
	{% if logged_in %}
		<a class="back-button" href="{{ request.user.challenge_list.name }}">{% trans "Back to my list" %}</a>
		{% if not friend %}
			<button class="add-friend-button">{% trans "Add to my friends" %}</button>
		{% endif %}
	{% endif %}
{% endif %}


<script type="text/javascript">
function checkCompleted(t){
        if ($(t).slider("value") == 100) {
            $(t).children(".ui-slider-range").css("background", "#88FF88");
            $(t).children(".ui-slider-handle").css("border-color", "#88FF88");
        }
        else {
            $(t).children(".ui-slider-range").css("background", "");
            $(t).children(".ui-slider-handle").css("border-color", "");
        }
};

$(function(){
	$(".date, #id_due_date").datepicker({
		dateFormat: 'yy-mm-dd',
		onSelect: function(dateText, inst){
			$.post(
				"/save", 
				{"challenge_instance": this.id.split("-").pop(), "due_date": dateText} 
			);
		}
	});
    $("#add-challenge").button();
    $("#add-challenge-form").submit(function(){
        $.post(
            "/add", 
            $(this).serialize(), 
            function(){location.reload();}
        );
        return false;
    });
    $("#add-category").button();
    $("#add-category-form").submit(function(){
        $.post(
            "/add", 
            {
                "hidden":"category",
                "name":$("#id_name").attr( "value" ),
                "red":$( "#red" ).slider( "value" ),
                "green":$( "#green" ).slider( "value" ),
                "blue":$( "#blue" ).slider( "value" )
            },
            function(){location.reload();}
        );
        return false;
    });
    $(".back-button").button({
        icons: {
            primary: "ui-icon-arrowthick-1-w",
            secondary: "ui-icon-script"
        }
    });
    $(".delete-challenge-button").button({
        icons: {
            primary: "ui-icon-trash"
        }
    }).click(function() {
        $.post(
            "/delete", 
            {"challenge_instance": this.id.split('-').pop()}, 
            function(data){
                $("#challenge-row-"+data).animate({opacity:0}, 250).animate({height:0},250, function(){$("#challenge-row-"+data).remove();});
            }
        );
    });
    $(".delete-friend-button").button({
        icons: {
            primary: "ui-icon-trash"
        }
    }).click(function() {
        $.post(
            "/delete", 
            {"friend": this.id.split('-').pop()}, 
            function(data){
                $("#friend-row-"+data).animate({opacity:0},250).animate({height:0},250, function(){$("#friend-row-"+data).remove();});
            }
        );
    });
    $(".logme-button").button({
        icons: {
            primary: "ui-icon-lightbulb"
        }
    }).click(function(){
        window.location = "/?next="+window.location;
    });
    $(".add-friend-button").button({
        icons: {
            primary: "ui-icon-plus"
        }
    }).click(function() {
        $.post(
            "/add", 
            {
                "hidden":"friend",
                "name":"{{ list_name }}"
            },
            function(data){
                if (data == "ok"){
                    $(".add-friend-button").fadeOut(250, function(){$(this).remove();});
                }
            }
        );
        return false;
    });
    $(".grab-button").button({
        icons: {
            primary: "ui-icon-lightbulb"
        }
    }).click(function() {
        $.post(
            "/add", 
            {
				"hidden":"challenge_instance",
				"challenge_instance": this.id.split('-').pop()
			}, 
            function(data){
                $("#challenge-row-"+data).fadeOut(500).fadeIn(500);
            }
        );
    });
    $(".progress-slider").each(function(){
        $(this).slider({
            orientation: "horizontal",
            range: "min",
            max: 100,
            value: $(this).attr("value"),
            step: 5,
            stop: function( event, ui){
                checkCompleted(this);
                $.post(
                    "/save", 
                    {"challenge_instance": this.id.split("-").pop(), "progress": $(this).slider("value")} 
                );
            }
        });
        checkCompleted(this);
    });
    $(".progress-bar").each(function(index, item){
        $(this).progressbar({
            value: parseInt($(item).attr("value")),
        });
    });
});
</script>
{% endblock content %}
