{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{{ list_name }}</h1>
<div class="header">{% trans "Your challenge list" %}</div>
<div id="challenges">
{{ lang }} 
{% for c in challenges %}
	{% if forloop.first %}
		<div class="row table_head">
			<span class="cell description">{% trans "Description" %}</span>
			<span class="cell category">{% trans "Category" %}</span>
			<span class="cell progress">{% trans "Progress" %}</span>
		</div>
	{% endif %}
	<div class="row {% cycle "even" "odd" %}" id="challenge-row-{{ c.id }}" style="background-color:{{c.category.color}};">
		<span class="cell description">{{ c.description }}</span>
		<span class="cell category">{{ c.category.name }}</span>
		<span class="cell progress">
			<div id="progress-{{ c.id }}" class="progress-slider" value="{{ c.progress }}"></div>
		</span>
		<span class="cell delete">
			<button class="delete-button" id="delete-{{ c.id }}">{% trans "Delete" %}</button>
		</span>
	</div>
{% endfor %}
<br /><br />

<div class="header">{% trans "Add a new challenge" %}</div>
<form action="" method="post">{% csrf_token %}
<table>
<tr>
{% for field in challenge_form.visible_fields %}
	<th>{{ field.label_tag }}</th>
{% endfor %}
	<th></th>
</tr>
<tr>
{% for field in challenge_form.visible_fields %}
	<td>{{ field }}</td>
{% endfor %}
	<td><input type="submit" value="{% trans "Add a new challenge" %}" /></td>
</tr>
</table>
{% for hidden in challenge_form.hidden_fields %}
{{ hidden }}
{% endfor %}
</form>
<br /><br />

<div class="header">{% trans "Your categories" %}</div>
<br /><br />

<div class="header">{% trans "Add a new category" %}</div>
<form action="" method="post">{% csrf_token %}
<table>
{% for field in category_form.visible_fields %}
	<tr><th>{{ field.label_tag }}</th><td>{{ field }}</td><td>{{ field.errors }}</td></tr>
{% endfor %}
{% for hidden in category_form.hidden_fields %}
{{ hidden }}
{% endfor %}
</table>
<input type="submit" value="{% trans "Add a new category" %}" />
</form>
<script type="text/javascript">
function checkCompleted(t){
		if ($(t).slider("value") == 100) {
			$(t).children(".ui-slider-range").css("background", "#88FF88");
			$(t).children(".ui-slider-handle").css("border-color", "#88FF88");
		}
		else {
			$(t).children(".ui-slider-range").css("background", "");
			$(t).children(".ui-slider-handle").css("border-color", "");
		}
};
$(function(){ 
	$("input:submit, .button").button();
	$(".delete-button").button({
		icons: {
			primary: "ui-icon-trash"
		}
	}).click(function() {
		$.post(
			"/delete", 
			{"challenge": this.id.split('-').pop()}, 
			function(data){
				$("#challenge-row-"+data).animate({opacity:0, height:0},500, function(){$("#challenge-row-"+data).remove();});
			}
		);
	});
	$(".progress-slider").each(function(i){
		$(this).slider({
			orientation: "horizontal",
			range: "min",
			max: 100,
			value: $(this).attr("value"),
			step: 5,
			stop: function( event, ui){
				checkCompleted(this);
				$.post(
					"/save", 
					{"challenge": this.id.split("-").pop(), "progress": $(this).slider("value")} 
				);
			}
		});
		checkCompleted(this);
	});
});
</script>
{% endblock content %}
