{% extends "base.html" %}
{% load i18n %}
{% block content %}
<p style="font-size:16pt">{% trans "Challenge List Creator allows you to create your own bucket list and share it with your friends." %}</p><br /><br />
<p>{% trans 'This site is a work in progress. An idea to improve it? Feel free to contact me at <a href="mailto:sylvain@intuitivo.fr">sylvain@intuitivo.fr</a>. Enjoy!'%}</p><br />
<form action="" method="post">{% csrf_token %}
<div class="horizontal_form">
 <div class="header">{% trans "Create an account" %}</div>
{% for field in signup_form.visible_fields %}
	<div class="item">
	 <div class="label">{{ field.label_tag }}</div>
	 <div class="data">{{ field }}</div>
	{% if field.errors %}
     <div class="ui-widget" style="float:left;padding: .3em">
	  <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;"> 
	  <p><span class="ui-icon ui-icon-arrowthick-1-w" style="float: left; margin-right: .3em;"></span><strong>{% trans "Hey!" %}</strong> {{ field.errors|join:", " }}</p>
	  </div>
	 </div>
	{% endif %}
	 <div class="description">{{ field.help_text }}</div>
	</div>
{% endfor %}
{% for hidden in signup_form.hidden_fields %}
{{ hidden }}
{% endfor %}
<br />
<input type="submit" value="{% trans "Sign me up" %}" style="left:160px;" />
</form>
<br />
<br />
<form action="" method="post">{% csrf_token %}
<div class="horizontal_form">
<div class="header">{% trans "Log in" %}</div>
{% for field in login_form.visible_fields %}
	<div class="item">
	 <div class="label">{{ field.label_tag }}</div>
	 <div class="data">{{ field }}</div>
	{% if field.errors %}
     <div class="ui-widget" style="float:left;padding: .3em">
	  <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;"> 
	  <p><span class="ui-icon ui-icon-arrowthick-1-w" style="float: left; margin-right: .3em;"></span><strong>{% trans "Hey!" %}</strong> {{ field.errors|join:", " }}</p>
	  </div>
	 </div>
	{% endif %}
	 <div class="description">{{ field.help_text }}</div>
	</div>
{% endfor %}
</div>
{% for hidden in login_form.hidden_fields %}
{{ hidden }}
{% endfor %}
<br />
<input type="submit" value="{% trans "Log me in"%}" style="left:160px;" />
</form>
<br />
<br />
<script type="text/javascript">
	$(function(){ $( "input:submit" ).button();	});
</script>
{% endblock content %}
