{% extends "base.html" %}
{% load i18n %}
{% block content %}
<br />
<div class="main_container">
<div class="content_wrapper">
<div class="content_column">
<div class="innertube">
<h1>{% trans "Welcome to your own bucket list maker." %}</h1><br/>
<h2>{% trans "Create a bucket list and share it with your friends... or not!" %}</h2><br/>
<h3>{% trans "Some examples of challenges:" %}</h3>
<br />
{% for ci in challenge_instances %}
	{% if forloop.first %}
		<div class="row table_head">
			<span class="cell description">{% trans "Description" %}</span>
			<span class="cell category">{% trans "Category" %}</span>
		</div>
	{% endif %}
	{% with ci.challenge as c %}
		<div class="row" id="challenge-row-{{ ci.id }}" style="background-color:rgb({{c.category.red}},{{c.category.green}},{{c.category.blue}});">
			<span class="cell description"><a href="/{{ ci.challenge_list.name }}">{{ c.description }}</a></span>
			<span class="cell category">{{ c.category.name }}</span>
		</div>
	{% endwith %}
{% endfor %}
<br />
</div>
</div>
</div>
<div class="left_column">
<div class="innertube">
<form action="" method="post">{% csrf_token %}
<div class="horizontal_form">
 <div class="header">{% trans "Create an account" %}</div>
{% for field in signup_form.visible_fields %}
	<div class="item">
	 <div class="label">{{ field.label_tag }}</div>
	 <div class="data">{{ field }}</div>
	{% if field.errors %}
     <div class="ui-widget" style="float:left;padding: .3em">
	  <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;"> 
	  <p><span class="ui-icon ui-icon-arrowthick-1-w" style="float: left; margin-right: .3em;"></span><strong>{% trans "Hey!" %}</strong> {{ field.errors|join:", " }}</p>
	  </div>
	 </div>
	{% endif %}
	 <div class="description">{{ field.help_text }}</div>
	</div>
{% endfor %}
{% for hidden in signup_form.hidden_fields %}
{{ hidden }}
{% endfor %}
<br />
<input type="submit" value="{% trans "Sign me up" %}" style="left:160px;" />
</form>
<br />
<br />
<form action="" method="post">{% csrf_token %}
<div class="horizontal_form">
<div class="header">{% trans "Log in" %}</div>
{% for field in login_form.visible_fields %}
	<div class="item">
	 <div class="label">{{ field.label_tag }}</div>
	 <div class="data">{{ field }}</div>
	{% if field.errors %}
     <div class="ui-widget" style="float:left;padding: .3em">
	  <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;"> 
	  <p><span class="ui-icon ui-icon-arrowthick-1-w" style="float: left; margin-right: .3em;"></span><strong>{% trans "Hey!" %}</strong> {{ field.errors|join:", " }}</p>
	  </div>
	 </div>
	{% endif %}
	<div class="description">{{ field.help_text }}</div>
	</div>
{% endfor %}
</div>
{% for hidden in login_form.hidden_fields %}
{{ hidden }}
{% endfor %}
<br />
<input type="submit" value="{% trans "Log me in"%}" style="left:160px;" />
</form>
</div>
</div>
</div>
<div id="dialog-form" title="Send a message">
	<p class="validateTips">{% trans "Email field is required if you want an answer." %}</p>

	<form>
	<fieldset>
		<label for="ideabox-email">{% trans "Email" %}</label>
		<input type="text" name="ideabox-email" id="ideabox-email" value="" class="text ui-widget-content ui-corner-all" />
		<label for="message">{% trans "Message" %}</label>
		<textarea cols="50" rows="7" name="ideabox-message" id="ideabox-message" value="" class="text ui-widget-content ui-corner-all"></textarea>
	</fieldset>
	</form>
</div>
<br />
<br />
<script type="text/javascript">
	$(function(){ 
		$( "input:submit" ).button();
		$(".logme-button").button({
			icons: {
				primary: "ui-icon-lightbulb"
			}
		}).click(function(){
			window.location = "/?next="+window.location;
		});
		$( "#dialog-form" ).dialog({
			autoOpen: false,
			height: 380,
			width: 350,
			modal: true,
			buttons: {
				"{% trans "Send a message"%}": function() {
					$.post(
						"/send", 
						{"email": $("#ideabox-email").val(), "message": $("#ideabox-message").val()}, 
						function(data){
							$( "#dialog-form" ).dialog( "close" );
						}
					);
				},
				"{% trans "Cancel" %}": function() {
					$( this ).dialog( "close" );
				}
			}
		});
		$("#ideabox").click(function(){
			$( "#dialog-form" ).dialog( "open" );
			return false;
		});
	});
</script>
{% comment %}
{% for q in queries %}
	{{ q }}<br />
{% endfor %}
{% endcomment %}
{% endblock content %}
