{% extends "base.html" %}
{% load i18n %}
{% block content %}
 <br />
 <div class="main_container">
  <form action="" method="post">{% csrf_token %}
   <div class="horizontal_form">
    <div class="header">{% trans "Enter your new password twice" %}</div>
     {% for field in signup_form.visible_fields %}
      <div class="item">
       <div class="label">{{ field.label_tag }}</div>
       <div class="data">{{ field }}</div>
       {% if field.errors %}
        <div class="ui-widget" style="float:left;padding: .3em">
         <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;"> 
          <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> {{ field.errors|join:", " }}</p>
         </div>
        </div>
       {% endif %}
       <div class="description">{{ field.help_text }}</div>
      </div>
     {% endfor %}
     {% for hidden in signup_form.hidden_fields %}
      {{ hidden }}
     {% endfor %}
     <br />
     <input type="submit" value="{% trans "Log me in" %}" style="left:160px;" />
    </div>
   </div>
  </form>
  <br/>
 </div>
 <br />
 <br />
 <script type="text/javascript">
	$(function(){ 
		$( "input:submit" ).button();
	});
 </script>
{% endblock content %}
